.highlight {
    /* background-color: yellow; */
}

.block {
    display: inline-block;
    box-sizing: border-box;
    margin: 1em;
    padding: 0.5em;
    border: 2px solid black;
}

.ghost {
    opacity: 0.2;
}

.right-redline {
    border-right: 2px solid red;
}

.left-redline {
    border-left: 2px solid red;
}